@import "maplibre-gl/dist/maplibre-gl.css";
@import "@maplibre/maplibre-gl-geocoder/dist/maplibre-gl-geocoder.css";

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.places-popup {
    max-height: 40vh;
}

.places-popup > div {
    overflow: auto;
}

.places-popup pre {
    white-space: pre-wrap;
    margin: 0;
}
